<header>

<!-- navbar -->
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">AMU</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li class="has-dropdown">
								<a>Resources</a>
								<ul class="dropdown">
									<li><a href="https://drive.google.com/drive/folders/1Hy3nKTEzWEn_XECjP8Dze9JrOdQ4QQBt">Notes</a></li>
									<li><a href="https://drive.google.com/drive/folders/1iftfBYOchKLb6rKVN3E5g0DSCDICCv-t">Papers</a></li>
									<li><a href="https://drive.google.com/drive/folders/1RlCykrB8yM-K9584FcnNrO_gOSkFTE66">Projects</a></li>
									<li><a href="https://drive.google.com/drive/folders/1Z0KcjedX2PtzyInqtc8wY1I3eKxrOV6K">More</a></li>
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
                            <li><a href="members.html">Committee</a></li>
							<li class="btn-cta"><a href="notice.html"><span>Join</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

</header>