<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
            <div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2020 Olympia Academia. All Rights Reserved.</small> 
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://api.whatsapp.com/send?phone=919835633153&text=I%27m%20interested%20in%20Olympia%20Academia%20and%20I%20want%20to%20join%20this%20club.&source=&data=&app_absent=" ><i class="icon-whatsapp"></i></a></li>
							<li><a href="mailto:olymp.acad@gmail.com"><i class="icon-mail"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
</footer>